* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #212121;
}

.app {
    min-height: 100vh;
    background-color: #212121;
    display: flex;
    flex-direction: row;
}