.chatWindow {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* navbar  */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar span {
    margin: 0.7rem 1.5rem;
    color: #b4b4b4;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
}

.fa-angle-down {
    cursor: pointer;
}

.userIconDiv {
    margin: 0.7rem 1rem;
}

.userIcon {
    background-color: #339cff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Chat Input  */
.chatInput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userInput {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

input {
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    width: 100%;
    padding: 20px;
    border-radius: 35px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
                rgba(0, 0, 0, 0.05) 0 -12px 30px,
                rgba(0, 0, 0, 0.05) 0 4px 6px,
                rgba(0, 0, 0, 0.05) 0 12px 3px,
                rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
    outline: none;
}

#submit {
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    right: 15px;
}

.info {
    font-size: 0.8rem;
    color: #b4b4b4;
}

/* Drop down  */
.dropDown {
    position: absolute;
    right: 3rem;
    top: 3rem;
    margin: 3px;
    padding: 0.3rem 0.5rem;
    width: 150px;
    height: 120px;
    border: solid 0.01rem rosybrown;
    border-radius: 16px;
    background-color: #343434;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    z-index: 1000;
    text-align: left;
}

.dropDownItem {
    margin: 2px 1px;
    padding: 5px 1px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 13px;
}

.dropDownItem i {
    font-size: 14px;
}
.dropDownItem:hover {
    background-color: rgb(180, 180, 180, 0.08);
    transition: background-color 0.4s ease, transform 0.1s ease;
    transform: translateY(-0.5px);
}