.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logobtn {
    background-color: #b4b4b4;
    height: 42px;
    width: 42px;
    padding: 2px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
}
.logobtn:hover {
    background-color: #d4d4d4;
}

.appname {
    color: #b4b4b4;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 15px;
}

.appname:hover {
    color: #d4d4d4;
}

.logo {
    height: 35px;
    width: 35px;
}

.newchat-btn {
    display: flex;
    align-items: center;
    margin: 30px 25px 20px 25px;
    border-radius: 14px;
    border: 1px solid;
    background-color: transparent;
    width: 80%;
    cursor: pointer;
}
.newchat-btn:hover {
    background-color: rgb(180, 180, 180, 0.10);
}

button span {
    font-size: 20px;
    margin: 8px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

button p {
    color: #b4b4b4;
    font-size: 14px;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    font-weight: 400;
    margin: 5px 20px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.history {
    margin: 0px;
    padding: 0px 5px;
    height: 100%;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 4px 0px 4px 15px;
    margin-bottom: 1px;
    font-size: 12px;
    border: solid 5px transparent;
    border-radius: 12px;
}

.history li:hover {
    background-color: rgb(180, 180, 180, 0.08);
}

.sign {
    margin: 10px 20px;
    padding: 10px;
    color: #b4b4b4;
    font-size: 14px;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    text-align: center;
    border-top: solid 0.05rem rgb(180, 180, 180, 0.5);
}