.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logobtn {
    background-color: #b4b4b4;
    height: 42px;
    width: 42px;
    padding: 2px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    
}

.logobtn:hover {
    background-color: #d4d4d4;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 6px;
}

.appname {
    color: #b4b4b4;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 15px;
}

.appname:hover {
    color: #d4d4d4;
    transition: color 0.3s ease, transform 0.3s ease;
    transform: translateY(-0.4px);
}

.logo {
    height: 35px;
    width: 35px;
}

.newchat-btn {
    display: flex;
    align-items: center;
    margin: 30px 25px 20px 25px;
    border-radius: 14px;
    border: 1px solid rosybrown;
    background-color: transparent;
    width: 80%;
    cursor: pointer;
}
.newchat-btn:hover {
    background-color: rgb(180, 180, 180, 0.10);
    transition: background-color 0.2s ease, transform 0.1s ease;
    transform: translateY(-0.5px);
}

button span {
    font-size: 20px;
    margin: 8px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
}

button p {
    color: #b4b4b4;
    font-size: 14px;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    font-weight: 400;
    margin: 5px 20px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

.history {
    margin: 0px;
    padding: 0px 5px;
    height: 100%;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 4px 8px 4px 10px;
    margin-bottom: 1px;
    font-size: 12px;
    border: solid 5px transparent;
    border-radius: 12px;
}

.history li:hover {
    background-color: rgb(180, 180, 180, 0.08);
    transition: background-color 0.4s ease, transform 0.1s ease;
    transform: translateY(-0.5px);
}

.sign {
    margin: 10px 20px;
    padding: 10px;
    color: #b4b4b4;
    font-size: 14px;
    font-family: "Comic Sans MS", "cursive", "sans-serif";
    text-align: center;
    border-top: solid 0.05rem rosybrown;
}

.fa-trash-can {
    opacity: 0;
    position: absolute;
    right: 0px;
    bottom: 6px;
    display: flex;
}

.fa-trash-can:hover {
    color: rgb(210, 55, 55);
    transition: color 0.5s;
}

.history li:hover .fa-trash-can{
    opacity: 1;
    transition: opacity 0.5s;
}